@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{margin: 0;padding: 0;box-sizing: border-box;}
:root{
    --fcolor:#efefef;
}
#wrapper{background: url(imgs/5.jpg) no-repeat;min-height: 100vh;background-position: center top;}
p,h2,h1,a{font-family: 'Lato', sans-serif;color: var(--fcolor);}
.content{max-width: 900px;margin: 0 auto;}
.header{min-height: 20vh;display: flex;justify-content: space-between;align-items: center;}
.navbar{display: flex;gap: 40px;}
.navbar a{text-decoration: none;border-bottom: 2px solid transparent;line-height: 30px;transition: border-bottom 0.3s;}
.navbar a:hover{border-bottom: 2px solid var(--fcolor);}
.bodycontent{min-height: 80vh;display: flex;justify-content: center;align-items: center;}
.bodycontent h1{font-size: 70px;}
.box{text-align: center;width: 64%;}
.box p{font-size: 1.5rem;}

